.header {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1;

    display: flex;
    align-items: center;
    column-gap: 80px;
    width: 100%;
    padding: 40px 120px;

    transform: translateX(-50%);
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 0;

    list-style: none;
}

.header__item-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #9196a1;
    text-decoration: none;
}

.header__item-link--active {
    font-weight: 600;
    color: #3a3c41;
}

.header__login {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: auto;
    padding: 0;

    border: none;
    background-color: initial;
}

.header__login-icon {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    padding: 11px;

    border-radius: 50%;
    background-color: #fdb100;
}

.header__login-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    color: #fdb100;
}